$primaryColor: #415167;
$accentColor0: #c7a17a;
$accentColor1: #f9f5e8;
$darkColor: #151d28;
$lightGrayColor: #edf0f5;

* {
  margin: 0;
  padding: 0;
}

.textDL {
  font-family: url(../fonts/Montserrat-Bold.ttf);
  font-size: 54px;
  line-height: 70px;
}
.textDM {
  font-family: url(../fonts/Montserrat-Medium.ttf);
  font-size: 30px;
  line-height: 34px;
}
.textTitle {
  font-family: url(../fonts/Nunito-Bold.ttf);
  font-size: 24px;
  line-height: 28px;
}
.textSubTitle {
  font-family: url(../fonts/Nunito-LightItalic.ttf);
  font-size: 20px;
  line-height: 24px;
}
.textPriceProduct {
  font-family: url(../fonts/Nunito-Regular.ttf);
  font-size: 20px;
  line-height: 24px;
}
.tetxBody {
  font-family: url(../fonts/Nunito-Regular.ttf);
  font-size: 16px;
  line-height: 20px;
}
.textDescription {
  font-family: url(../fonts/Nunito-LightItalic.ttf);
  font-size: 16px;
  line-height: 20px;
}
.textButton {
  font-family: url(../fonts/Nunito-Bold.ttf);
  font-size: 16px;
  line-height: 20px;
}

header {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 1f;
  .logoSlogan {
    margin: 10% 0 10% 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    #logo {
    }
    .slogan {
        width: 100%;
      p:nth-child(2) {
        color: $accentColor1;
        background-color: $accentColor0;
        padding: 0 30px;
      }
    }
  }
  .preview{
    background-image: url(../img/preview.png);
  }
}
